.not-found-container {
    text-align: center;
    margin-top: 100px;
  }
  
  h1 {
    font-size: 6rem;
    color: #e91e63;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
  }
  
  button {
    font-size: 1rem;
  }
  