<mat-toolbar color="primary" class="navbar">
 
  <div class="navbar__menu"> 
    <a href="/" mat-icon-button >
    <mat-icon>assignment</mat-icon>

    </a> 
  <a href="/">
    <h3>Task Manager Application</h3>
  </a></div>
  <div>
    <button (click)="navigateTo('tasks')" mat-icon-button >
      <mat-icon>home</mat-icon>
    </button>
    
    <button (click)="navigateTo('tasks/create')" mat-icon-button >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>