<div class="container">
    <div class="task__details">
        <div class="task__header">
            <h1> ({{task.Id}}) {{task.Title}}</h1>
            <span>Due Date : {{task.DueDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <hr/>
        <p>{{task.Description}}</p>
    </div>
    <div class="actions">
        <h1>Actions</h1>
        <div>
            <a  (click)="deleteTask(task.Id)" mat-raised-button color="warn" > <mat-icon>delete</mat-icon> Delete</a>
        <a  [routerLink]="'/tasks/edit/' + task.Id"  mat-raised-button color="primary">  <mat-icon>edit</mat-icon> Edit</a>
        <a href="/" mat-raised-button  > <mat-icon>home</mat-icon> Home</a>
        </div>
    </div>
</div>